.DS_Store
.vscode
.env
proyecto_yolov8.py
prueba.py
prueba2.py
Fire1.jpg
Fire2.png
fire_and_fall_test.py
fire_alert.mp4
fall_YOLOv8.pt
detected_fire.jpg
detección.jpg
fire_detector_test.py
firecascade.xml
haarcascade_fullbody.xml
haarcascade.xml
